{% extends 'base.html' %}
{% load static %}

{% block title %}Short Names (1-amaliy){% endblock %}

{% block content %}

<div class='container card mt-5 mb-5 p-5'>
    <h1 class='pb-2'>Check Short Names</h1>
    <form action="{% url 'short_name' %}" method="post">
        {% csrf_token %}
        <input class='m-3' type="text" name="short_name" id="short_name" placeholder="Enter Short Name" >
        {% comment %} <textarea name='short_name' id='short_name' class='form-control' placeholder='Enter Short Name'></textarea> {% endcomment %}

        {% if check %}
            <p class="alert alert-success">{{ value }} - To'g'ri</p>
        {% elif  value  %}
            <p  class="alert alert-danger">{{ value }} - Xato  [ {{correct}} ]</p>
        {% endif %} 
        <input type="submit" value="Check" class="btn btn-primary">
    </form>
</div>


{% comment %} 
 <div class='container card'>
    <h1>Add Short Names</h1>
    <form action="{% url 'add_name' %}" method="post">
        {% csrf_token %}
        <input type="text" name="short_name" id="short_name" placeholder="Enter Short Name" >
      
        <input type="submit" value="Add Name" class="btn btn-primary">
    </form>
</div>  {% endcomment %}

{% endblock content %}
